@model WebApplication6.Models.UserModel

@{
    ViewBag.Title = "Home";   
}
<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />
<div class="topnav"> 
    @Html.ActionLink("Home", "Home", "Home", null, new { @class = "active" })
    @Html.ActionLink("Play", "Play", "Home")
    @Html.ActionLink("Leaderboard", "Leaderboard", "Home")
    @Html.ActionLink("SignOut", "StartPage", "Home")
</div>
