@model WebApplication6.Models.UserModel

@{
    ViewBag.Title = "Home";   
}
<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />
<div class="topnav"> 
    @Html.ActionLink("Home", "Home", "Home", null, new { @class = "active" })
    @Html.ActionLink("Play", "Play", "Home")
    @Html.ActionLink("Leaderboard", "Home", "Home")
    @Html.ActionLink("SignOut", "StartPage", "Home")
</div>
<div class="form-horizontal_home">
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

</div>